.header {
    position: relative;
    background-image: url(../images/down-layer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;

    &__bg {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    &__container {   
        @extend .container;
    } 

}

.main { 
    .news {
    

    }
    .gallery{

    }

    .footer{
        &__form {

        }

    }
}


