.header {
    background-image: url(../images/down-layer.png), url(../images/up-layer.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    &__container {   
        @extend .container;
    } 

}

.main { 
    .news {
    

    }
    .gallery{

    }

    .footer{
        &__form {

        }

    }
}


