.header {
    position: relative;
    background-image: url(../images/down-layer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__bg {
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    &__container {
        @extend .container;
    }

    &__top-wrap {
        padding-top: 53px;

        position: relative;
        z-index: 3;
        @include flex-row;
        justify-content: space-between;
    }

    &__nav {
        @include flex-row;
        align-items: center;

        .el {
            @include flex-row;
            justify-content: space-between;

            &__dot {
                margin-right: 14px;
            }

            &__text {
                @include source(400);
                @include font-sizes(14px, 18px);
                color: white;
            }
        }

        .el+.el {
            margin-left: 70px;
        }

        .el:hover {
            .el__dot {
                fill: white;
            }
        }

    }

    .socials {
        &__el {
            circle {
                stroke: white;
            }
        }

        .socials__el+.socials__el {
            margin-left: 20px;
        }

        .socials__el:hover {
            cursor: pointer;

            circle {
                stroke: orangered;
            }
        }
    }

    &__center-wrap {
        margin-top: 223px;
        margin-bottom: 330px;
        @include flex-col;
        color: white;
    }

    &__title {
        @include monserat(700);
        @include font-sizes(80px, 98px);
        margin-bottom: 20px;
    }

    &__subtitle {
        @include monserat(700);
        @include font-sizes(18px, 22px);
        letter-spacing: 0.3em;
    }
}

.main {
    .intro {
        padding: 100px 0px 150px;
        background-color: white;
        position: relative;
        z-index: 100;


        &__line {
            width: 100px;
            height: 1px;
            background-color: #2C4058;
            margin: 0 auto 30px auto;
        }

        &__title {
            text-align: center;
            @include myfont($monserat, 700, 44px, 54px, #2C4058);
            margin-bottom: 90px;
        }

        &__content {
            display: flex;
            padding: 0px 215px;
            padding-top: 57px;
            background-image: url("../images/section Vitalii/back.png");
            background-repeat: no-repeat;
            background-size: 585px 470px;
            margin-bottom: 120px;

            &--img {
                width: 630px;
                height: 470px;
                margin-right: 70px;
            }

            &--txt {
                padding-top: 80px;


                &--subtitle {
                    @include myfont($monserat, 400, 22px, 27px, #2C4058);
                }

                &--title {
                    @include myfont($monserat, 700, 44px, 54px, #2C4058);
                    margin-bottom: 19px;
                }

                &--text {
                    @include myfont($open, 400, 18px, 30px, #2C4058);
                    margin-bottom: 40px;
                    max-width: 470px;
                }

                &--button {
                    border: 1px #2C4058 solid;
                    width: 190px;
                    height: 50px;
                    margin-bottom: 60px;


                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include myfont($monserat, 400, 14px, 17px, #000000);
                        cursor: pointer;

                        &:hover {
                            background-color: rgb(255, 51, 0);
                        }

                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include myfont($monserat, 400, 14px, 17px, #000000);
                            cursor: pointer;

                        }
                    }

                    &--link {
                        @include myfont($open, 400, 15px, 23px, black);

                        &:hover a {
                            color: rgb(255, 51, 0);
                        }

                    }
                }

            }
        }

        .intro__content__second {
            background-image: url("../images/section Vitalii/back2.png");
            background-repeat: no-repeat;
            background-size: 585px 470px;
            background-position: top right;
        }

        .second-img {
            margin-right: 0px;
            margin-left: 70px;
        }

    }

    .news {
        background-image: url(../images/background-news.jpg);

        &__title {
            font-family: $monserat;
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            text-align: center;
            color: $white;
        }

        &__block {
            max-width: 370px;
            background-color: $white;

            .block__wrapper {
                padding: 20px;
            }

            h3 {
                font-family: $monserat;
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: #2C4058;
                margin: 15px;
            }

            .block__description {
                font-family: $open;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #2C4058;
                margin-bottom: 46px;
            }

            .user__info {
                font-family: $open;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #2C4058;
                display: flex;

                img {
                    border-radius: 50%;
                    margin-right: 20px;
                }

                p {
                    font-family: $monserat;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #2C4058;
                    margin-bottom: 6px;
                }
            }

            span {
                font-family: $monserat;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #55B7FF;
            }
        }
    }

    // .gallery {}

}

.footer {

    &__map {
        a[href^="http://maps.google.com/maps"] {
            display: none !important
        }

        a[href^="https://maps.google.com/maps"] {
            display: none !important
        }

        .gmnoprint a,
        .gmnoprint span,
        .gm-style-cc {
            display: none;
        }

        .gmnoprint div {
            background: none !important;
        }
    }

    &__bottom {
        background-image: url(../images/Background__footer.png);
        background-repeat: no-repeat;
        height: 549px;
        position: relative;
        width: 100%;
    }

    &__contacts {
        padding-left: 415px;
        padding-right: 415px;
        padding-top: 59px;


        &__copyrights {
            @include myfont('Montserrat', 400, 14px, 17px, $white);
            margin-top: 41px;
        }

        &__wrapp {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__social {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .social__wrapper {
                border: 1px solid white;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                position: relative;
                margin-right: 20px;

                &:hover {
                    background-color: white;
                }

                &:hover .social__svg--hov {
                    opacity: 1;
                }

            }

            .social__svg {
                width: 100%;
                height: 100%;
                position: absolute;

                &--hov {
                    opacity: 0;
                }


                &--facebook {
                    right: -13px;
                    top: 10px;
                }
            }
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        padding-top: 50px;


        &__start {
            @include myfont('Montserrat', 700, 24px, 34px, $white);
            padding: 30px 200px;
            cursor: pointer;

            &:hover {
                color: $dark-blue;
            }
        }

        &__end {
            display: none;
            padding: 60px 60px 68px 60px;
            max-width: 770px;
            max-height: 450px;
            background-color: $white;
            position: absolute;
            z-index: 1;
            bottom: 400px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &__close {
                color: $light-grey;
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
            }

            &__bg {
                background-image: url(../images/city__bg__footer.png);
                background-repeat: no-repeat;
                position: absolute;
                width: 100%;
                height: 197px;
                left: 0;
                top: 253px;
                z-index: -1;
            }

            &__line {
                border-bottom: 1px solid $dark-blue;
                width: 100px;
                margin: 0px 275px;
            }

            &__header {
                @include myfont('Montserrat', 700, 44px, 54px, $dark-blue);
                margin: 0px 150px;
                margin-top: 30px;
                margin-bottom: 42px;
            }

            &__contacts {
                display: flex;
                justify-content: space-between;

                .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include myfont('Montserrat', 400, 18px, 27px, $black);
                    height: 196px;
                    width: 286px;

                    & a {
                        @include myfont('Montserrat', 400, 18px, 27px, $black);
                    }

                    &__link:hover {
                        color: $blue;
                    }

                    &__link__icon {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        color: $violet;
                    }
                }

                .right {
                    display: flex;

                    & input[type="tel"],
                    & input[type="email"] {
                        outline: none;
                        display: block;
                        padding-bottom: 14px;
                        border: none;
                        border-bottom: 1px solid $dark-blue;
                        background: transparent;
                        height: 41px;
                        width: 310px;
                        margin-bottom: 33px;
                        @include myfont('Montserrat', 400, 18px, 27px, $grey-footer);
                        opacity: 0.5;
                    }

                    & input[type="tel"]:focus,
                    & input[type="email"]:focus {
                        opacity: 1;
                        color: $black;
                        border-color: $black;
                    }

                    &__btn {
                        border: 1px solid $dark-blue;
                        @include myfont('Montserrat', 400, 18px, 27px, $black);
                        padding: 11px 34px;
                        max-width: 140px;
                        background-color: $white;
                        cursor: pointer;
                        position: absolute;
                        right: 60px;

                        &:hover {
                            background-color: $blue;
                            border-color: $white;
                            color: $white;
                        }
                    }

                }


            }
        }
    }
}